@import 'base/variables';

header {
  text-align: center;
  background-color: whitesmoke;
}

body {
  line-height: 1.75;
  font-size: 16px;
  font-family: $banner-font;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 20px;

  a {
    padding: 18px 18px 14px 18px;
  }

  a:hover {
    background-color: $dark-green;
    color: $mystic-white;
  }

  .selected {
    border-bottom: 4px solid $dark-green;
  }
}

.hero-banner {
  position: relative;
  height: 500px;
  width: 100vw;
  z-index: -2;
  overflow-y: hidden;
  
  img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
  }

  .hero-banner-content {
    position: relative;
    height: 600px;
    text-align: center;
    top: 35%;

    h2 {
      font-size: 55px;
      font-weight: 500;
      color: $mystic-white;
    }
  }
}

.content-container {
  padding: 0 $gutters;
}

footer {
  min-height: 100px;
  padding: 40px $gutters;
  background-color: $really-dark-green;
  color: $mystic-white;
}