@import 'base/variables';

header {
  text-align: center;
  background-color: $mystic-white;
  // position: fixed;
  width: 100vw;
}

body {
  background-color: $mystic-white;
  color: $really-dark-green;
  margin: 0;
  line-height: 1.75;
  font-size: 16px;
  font-family: $banner-font;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 20px;

  a {
    padding: 18px 18px 14px 18px;
  }

  a:hover {
    background-color: $really-dark-green;
    color: $mystic-white;
  }

  .selected {
    border-bottom: 4px solid $really-dark-green;
  }
}

.full-bleed-img {
  width: 100vw;
}

.hero-banner {
  // position: relative;
  height: 100vh;
  width: 100vw;

  // background-image: url("/assets/old-snowy.jpg");
  background-image: url("/assets/mount-shasta.jpg"), linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  // .hero-image {
  //   position: absolute;
  //   overflow-y: hidden;
  //   top: 70px;
    
  //   width: 100vw;
  //   z-index: -1;
  // }

  .hero-banner-content {
    height: 600px;
    position: absolute;
    top: 35%;
    padding: 0 18%;
    color: $mystic-white;

    .hero-title {
      font-size: 55px;
      font-weight: 500;
      position: relative;
    }

    .name-tag {
      position: relative;
      top: 500px;
      left: 515px;
    }

    .below-fold-content {
      margin-top: 100vh;
      background-color: white;
    }
  }
}

.content-container {
  padding: 0 $gutters;
}

.rich-text-area {
  img {
    float: left;
    padding: 5px;
    max-width: 300px;
  }
}

footer {
  min-height: 100px;
  padding: 40px $gutters;
  background-color: $really-dark-green;
  color: $mystic-white;
}

.fade-in-section {
  opacity: 0;
  // transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 2s ease-out;
  // transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}