@import 'https://fonts.googleapis.com/css?family=Quicksand';

//fonts
$banner-font: 'Quicksand', sans-serif;

//colors
$mystic-white: #FFFFFF;

$dark-blue: #26588c;
$medium-blue: #457893;
$dark-teal: #659899;
$light-teal: #87b89c;
$really-dark-green: #255721;
$dark-green: #2f6e2a;
$light-green: #a9d99c;

//margins
$gutters: 120px;